*/[O|o]bj/*
*/[B|b]in/*
*.csproj.user
*Thumbs.db
*.suo
*.user
/msbuild.log
*.log
build/
*.pidb
*.userprefs
*/submit.xml
*.Publish.xml

*.orig
packages/**/
.~*#

Tasker.Web/App_Data/Tasker.mdf
Tasker.Web/App_Data/Tasker_log.ldf
